@import "projects";
@import "footer";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
span {
  color: #4b0fd8;
  text-decoration: underline;
  cursor: pointer;
  text-transform: capitalize;
}
body {
  background-color: #4cbbb9;
}
nav {
  position: absolute;
  display: flex;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
  height: 7%;
  width: 100%;
  background-color: #0779e4;
  .logo {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;

    h1 {
      position: absolute;
      top: 50%;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
  .navlinks {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    position: absolute;
    right: 0;
    height: 100%;

    li {
      a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        color: rgb(255, 255, 255);
        &:hover {
          text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
        }
      }
    }
  }
}
